<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout_head') %>  <!-- Include the head partial here -->
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>
    <div class="container mt-4">
        <%- body %>
    </div>
    <!-- Move the script to footer -->
    <%- include('layout_footer') %>
</body>
</html>